body{font-size: 20px; line-height: 150%; text-align:center; background: #312e2b; color: white; height: 100vh;line-height: 1;}
img{max-width: 100%; height: auto;}
p{text-align: center;font-size: 30px; font-weight: bold; margin-top: 20px;}
div#nav-bar {text-align:center; color:snow; padding: 5px 5px; font-size:15px;}
ul {display: inline-block;}
button{background: url(../img//257.jpg);color: #FFFFFF;font: normal 14px/46px; padding:5px;}
button:hover{color: white; background: #FFA433;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
ul {list-style-type: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
*,*::after,*::before{box-sizing: border-box;}
h1{text-align: center; font-size: 40px; padding: 10px; font-weight: bold;}
.chess_box,.menu_computer{ display:none}
.menu_box{ display:none1; width:316px; height:210px; padding-top:200px; margin:60px auto 0;}
.menu_box a{ width:210px; height:46px; text-align:center; line-height:46px; background:url("../img/257.jpg") center 0 no-repeat; display:block; margin:10px 0 10px 45px; font: normal 18px/46px; color:#FFFFFF; cursor:pointer; }
.menu_box a:hover{ background: url(../img/257.jpg) center -46px no-repeat; color: #FFA433;}
.menu_info{ background:#463521; color:#FFF; padding:10px 10px; line-height:190%; text-align:left; width:210px;margin:10px 10px 15px 45px;}
.menu_theme{ background:url(../img/btn_exit.png); width:14px; height:14px; float:right; cursor:pointer}
.bn_box input{background: url(../img/257.jpg);   color: #FFFFFF;;font: normal 14px/46px; margin:10px 10px 0; padding:5px; width:150px }
.move_info{color:#FFF; padding-top: 10px;line-height:110%;}
.bn_box input:hover{color: white; background: #FFA433;}
.chessboard {margin: 10px auto; max-width:100%; width: 360px; height: 400px; background: url(../img//stype/Banco.svg); background-repeat: no-repeat; background-size: contain;}
.row{height: 10%; width: 100%;}
.square img:hover{cursor: pointer;}
.available{border: 3px solid lawngreen; border-radius: 50%;}
.available:hover{cursor: pointer; background-color: lightslategray;}
.current, .current:hover{background-color: rgba(0, 0, 255, 0.3); border-radius: 50%;}
.square.disabled{cursor: disabled;}
.container{display: flex; justify-content: space-between; padding: 10px; text-align: center;}
.chesstext{width: 100%; padding: 10px; margin: auto; text-align: center;}
.titlerecord{color:yellow; font-size:29px;}
.menu_box a{ width:210px; height:46px; text-align:center; line-height:46px; background:url("../img//257.jpg") center 0 no-repeat; display:block; margin:10px 0 10px 45px; font: normal 18px/46px; color:#FFFFFF; cursor:pointer; }
.menu_box a:hover{background: url(../img//257.jpg) center -46px no-repeat; color: #FFA433;}
.chesstext ul{width: 30%; height: 200px; padding: 10px 5px; margin: 20px 5px; overflow-y: scroll; background: #272522;}
.chesstext ul, .chesstext button, .chesstext input{border-radius: 5px;}
.chesstext ul li{text-align: center; margin: 0 10px; padding: 5px; font-size: 20px;}
.others{padding: 5px 5px}
.bodyhuman{background-image: url(../img//257.jpg);}